<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">자기 소개</div>
            <p class="paragraph-text justify-text">
                안녕하세요? 저는 현재 한남대학교에 4학년으로 재학중인 컴퓨터 공학과 김동준입니다. 저의 취미는 게임과 영상 편집입니다. 
            </p>
            <span class="hint--bottom bottom link" aria-label="Game">
                    <i class ="head-icon fa fa-gamepad"></i>
            </span>
            <span class="hint--bottom bottom link" aria-label="Video">
                    <i class ="head-icon fa fa-video-camera"></i>
            </span>
            <p class="paragraph-text justify-text">
                컴퓨터 작업을 좋아합니다. 인터넷과 그 작동 방식이 마음에 들며, 정보 시스템 보안 및 안전한 시스템 구축에 큰 관심이 있습니다. 보안 관련으로 취업을 하고 싶습니다. 
            </p>
            <p class="paragraph-text justify-text">
                하지만 코딩 작업이 저한테는 조금 버겁기도 하고, 아직 보안 분야에 대해서는 많이 배우지도, 많은 경험을 쌓지도 못했지만 앞으로 꾸준히 보안을 포함해 코딩에 대한 경험을 쌓아 갈 것 입니다.
            </p>
        </div>
    </section>
</div>
