<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">해보고 싶은 것들</div>   
                <div class="project-technologies">
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="game" class="semi-transparent-button with-border white-button" onclick="selected('game')">Game</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a>
                </div>
            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>